/*.root{
    !*-fx-font-family: "Segoe UI";*!
    !*-fx-font-family: "Sitka Small";*!
    !*-fx-font-family: "Arial";*!
}

.split-pane > .split-pane-divider {
    !*-fx-padding: 0.083333em; !* 设置分隔条的宽度为1像素 *!*!
    !*这将让中间的分隔线也没了*!
    !*-fx-background-color: transparent; *!
}

.split-pane .split-pane {
    !*只让四周边框没了*!
    -fx-background-color: transparent;
}


.split-pane-divider {
    !*设置分隔线宽度*!
    -fx-padding: 1;
    -fx-background-insets: 0;
    !*-fx-background-color: red;*!
    !*-fx-min-width: 2px;*!
    !*-fx-max-width: 2px;*!
}*/


/*上边栏菜单设置加粗*/
/*.menu-bar .menu .label {*/
/*    -fx-font-weight: bold;*/
/*}*/

/********* redis标签样式*********/
.tag {
    -fx-padding: 2px 4px 2px 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 0.75em;
    -fx-background-color: red;
}
.tag.max {
    -fx-font-size: 1em;
}


/********* 圆角样式*********/
.rounded-corner {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.rounded-corner-50 {
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

/* 如果需要对图表内部区域也设置圆角 */
.rounded-corner .chart-content {
    -fx-background-radius: 8;
}



/********* 表格的head不显示竖线*********/
.no-vertical-lines .column-header-background .table-column {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.no-vertical-lines .column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.no-vertical-lines .table-column-header {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

/* 去掉列分隔线 */
.no-vertical-lines .table-column .arrow {
    -fx-border-width: 0;
}

/********* 自定义float-toggle-button的样式*********/
/* 添加圆角样式 */
.float-toggle-button.flat {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.float-toggle-button.flat:hover {
    -fx-underline: false;
    -fx-translate-y: -2px; /* 向上移动2像素 */
}
.float-toggle-button.flat:selected {
    -fx-translate-y: 0;
    -fx-opacity: 0.5;
}

/********* 胶囊*********/
.modal-pane {
    -color-modal-pane-overlay: transparent;
}
/*1titledPane*/
/* 隐藏TitledPane的标题栏背景 */
.report-titled-pane > .title {
    -fx-background-color: transparent;
}

/* 隐藏TitledPane的内容区域背景和边框 */
.report-titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}