/* 光标颜色 */
.caret {
    -fx-stroke: -color-fg-default;
}
/*行号颜色*/
.lineno{
    -fx-fill: -color-fg-default;
    -fx-background-color: -color-bg-default;
}
/**********json文本样式***********/
.json-key {
    -fx-fill: -color-fg-default;
}
.json-boolean {
    -fx-fill: -color-accent-fg;
}
.json-null {
    -fx-fill: -color-warning-fg;
}
.json-warn {
    -fx-fill: -color-warning-fg;
}
.json-number {
    -fx-fill: -color-danger-fg;
}
.json-bracket {
    -fx-fill: -color-fg-default;
}
.json-colon {
    -fx-fill:-color-fg-default;
}
.json-comma {
    -fx-fill: -color-fg-default;
}
.json-value {
    -fx-fill: -color-success-fg;
}
.json-comment {
    -fx-fill: -color-fg-default;
}
.json-other {
    -fx-fill: -color-fg-default;
}
/**********json文本样式***********/


/**********xml文本样式***********/
.tagmark {
    -fx-fill: -color-accent-fg;
}
.anytag {
    /*-fx-fill: -color-warning-5;*/
    -fx-fill: -color-warning-fg;
}
.paren {
    -fx-fill: red;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: -color-danger-fg;
}
.avalue {
    -fx-fill:  -color-success-fg;
}

.comment {
    -fx-fill: -color-base-5;
}
.default {
    -fx-fill: -color-fg-default;
}
.other2 {
    -fx-fill: -color-danger-fg;
}
.other3 {
    -fx-fill: -color-warning-5;
}
.other4 {
    -fx-fill: yellow;
}

/**********xml文本样式***********/

/**********yml文本样式***********/

.yml-default {
    -fx-fill: red;
}
.yml-comment {
    -fx-fill: -color-success-fg;
}
.yml-key {
    -fx-fill: -color-warning-fg;
}
.yml-value {
    -fx-fill: -color-fg-default;
}
/**********yml文本样式***********/